[submodule "documentation/assets/chirpy-static-assets"]
	path = documentation/assets/chirpy-static-assets
	url = https://github.com/cotes2020/chirpy-static-assets.git
[submodule "documentation/assets/--force"]
	path = documentation/assets/--force
	url = https://github.com/cotes2020/chirpy-static-assets.git
[submodule "documentation/assets/lib"]
	path = documentation/assets/lib
	url = https://github.com/cotes2020/chirpy-static-assets.git
