[submodule "documentation/assets/chirpy-static-assets"]
	path = documentation/assets/chirpy-static-assets
	url = https://github.com/cotes2020/chirpy-static-assets.git
[submodule "documentation/assets/lib1"]
	path = documentation/assets/lib1
	url = https://github.com/cotes2020/chirpy-static-assets.git
